
<div class="navbar-default sidebar" id="sideMenu" role="navigation">
    <div class="sidebar-nav navbar-collapse" id="sideCollapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a ng-click="addTab('Dashboard', '<siteslist></siteslist>', true)" href="#/siteslist"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
            </li>
            <li >
                <a href="#" ><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse " aria-expanded="true">
                    <li pull-right>
                        <a ng-click="addTab('Projects', '<projectlist></projectlist>', true)" href="#projectslist">Projects</a>
                    </li>
                    <li>
                        <a ng-click="addTab('Sites', '<siteslist></siteslist>', true)" href="#siteslist">Sites</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Orders<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse " aria-expanded="true">
                    <li pull-right>
                        <a ng-click="addTab('Projects', '<projectlist></projectlist>', true)" href="#projectslist">JobOrder</a>
                    </li>
                    <li>
                        <a ng-click="addTab('Test', '<test></test>', true)" href="#/test"><i class="fa fa-dashboard fa-fw"></i>Test</a>

                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Orders<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse " aria-expanded="true">
                    <li pull-right>
                        <a ng-click="addTab('Projects', '<projectlist></projectlist>', true)" href="#projectslist">JobOrder</a>
                    </li>
                    <li>
                        <a ng-click="addTab('Test', '<test></test>', true)" href="#/test"><i class="fa fa-dashboard fa-fw"></i>Test</a>

                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Orders<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse " aria-expanded="true">
                    <li pull-right>
                        <a ng-click="addTab('Projects', '<projectlist></projectlist>', true)" href="#projectslist">JobOrder</a>
                    </li>
                    <li>
                        <a ng-click="addTab('Test', '<test></test>', true)" href="#/test"><i class="fa fa-dashboard fa-fw"></i>Test</a>

                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>


