<h2>Projects Title</h2>
Project List Directive


<br>



<a ng-click="openSite(101)" href="#siteslist">Site 101</a><br>
<a ng-click="openSite(102)" href="#siteslist">Site 102</a>



<br/>

Functions of content writers[edit]
There is a growing demand for skilled web content writers on the internet.[1] This is because quality content often translates into higher revenues for online businesses. [2]

Website owners and managers depend on content writers to perform several major tasks:

Analyze all the tasks before sending to the content writer, and to give a task regarding promoting for the particular website given for reference URL.
Check for keywords or generate a keyword and give it to the writers to use in the article, and provide them with the limitations for the keywords.
Create or edit copy to inform the reader, and to promote or sell the company, product or service described in the website.
Produce content to entice and engage visitors, so they continue browsing on the current website. This operates on the premise that longer a visitor stays on a particular site, the greater the likelihood they will eventually become clients or customers.
Produce content that is smart in its use of keywords, or is focused on search engine optimization (SEO). This means the text must contain relevant keywords and phrases that are most likely to be entered by users in web searches associated with the actual site for better search engine indexing and ranking.
Create content that allows the site visitors to get the information they want quickly and efficiently. Efficient and focused web content gives readers access to information in a user-friendly manner.
Create unique, useful, and compelling content on a topic primarily for the readers and not just for the search engines.
Website content writing aims for relevance and search-ability. Relevance means that the website text should be useful and beneficial to readers. Search-ability indicates usage of keywords to help search engines direct users to websites that meet their search criteria.

There are various ways through which websites come up with article writing and one of them is outsourcing of the content writing but it is riskier than other options.

Online writers vs. print writers[edit]
Writing online is very different from composing and constructing content for printed materials. Web users tend to scan text instead of reading it closely, skipping what they perceive to be unnecessary information, and hunting for what they regard as most relevant. It is estimated that seventy-nine percent of users scan web content.[3] It is also reported that it takes twenty-five percent more time to scan content online compared to print content.[4] Web content writers must have the skills to insert paragraphs and headlines containing keywords for search engine optimization, as well as to make sure their composition is clear, so that they will be able to reach their target market.

Content writing providers[edit]
Website content writing is frequently outsourced to external providers, such as individual web copywriters or for larger or more complex projects, a specialized copywriting agency.

Copywriting agencies combine copywriting services with a range of editorial and associated services, that may include brand positioning, message consulting, social media, SEO consulting, developmental and copy editing, proofreading, fact checking, layout, and design. Outsourcing such services allows businesses to focus on core competencies and to benefit from the specialized knowledge of professional copywriters and editors.

See also[edit]
Copywriting
Web content development
